@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 35.25%;
  color: $text-color;
  @include breakpoint(peter) {
    font-size: 65.25%;
  }
}

h1 {
  @include text(relative, 3.6em, left, 400);
  color: #000;
}

h2 {
  @include text(relative, 4.8em, center, 700);
  color: $primary-color;
}

h3 {
  @include text(relative, 3.6em, center, 700);
  color: $subtitle-color;
}

h4 {
  @include text(relative, 2em, center, 500);
  color: $subtitle-color;
}

p {
  @include text(relative, 2.4em, center, 400);
}

strong {
  @include text(relative, 1.2em, left, 700)
  color: $subtitle-color;
}

a {
  text-decoration: none;
}
