// TEXT
@mixin text($position: null, $size: null, $align: null, $weight: null) {
  @if $position != null {
    position: $position;
  }
  @if $size != null {
    font-size: $size;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $align != null {
    text-align: $align;
  }
}

@mixin container {
  max-width: 1300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@mixin image_div {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 84.25%;
  overflow: hidden;
}

@mixin image_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
