.about {
  @include container;
  @include row;
  padding-top: 50px;
  @include breakpoint(brian) {
    padding: 0;
    justify-content: space-between;
  }
  &__left {
    @include image_div;
    width: 100%;
    padding-bottom: 56.25%;
    @include breakpoint(brian) {
      width: 50%;
      padding-bottom: 39.25%;
    }
  }
  &__image {
    @include image_position;
  }
  &__right {
    @include column;
    position: relative;
    width: 50%;
    transition: all 0.5s ease-in;
    @include breakpoint(brian) {
      align-items: flex-start;
      padding-left: 20px;
    }
  }
  &__title {
    margin: 10px 0;
    &::after {
      @include line;
    }
    @include breakpoint(brian) {
      text-align: left;
      &::after {
        @include line_reset;
      }
    }
  }
  &__subtitle {
    @include breakpoint(brian) {
      margin: 10px 0;
      text-align: left;
    }
  }
  &__description {
    padding-bottom: 10px;
    @include breakpoint(brian) {
      text-align: left;
      font-size: 2em;
    }
  }
}
