.footer {
  @include column;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: $subtitle-color;
  &__copy {
    font-size: 16px;
    @include breakpoint(brian) {
      padding: 20px
    }
  }
  &__logo {
    padding: 20px;
  }
  &__image {
    width: 90px;
  }
  @include breakpoint(brian) {
    @include row;
    justify-content: space-between;
  }
}
