.nav {
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
    background-color: $subtitle-color;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    transition: all .5s ease-in;
    transform: translate3d(150%, 0, 0);
    @include breakpoint(lois) {
      height: auto;
      width: 74%;
      background-color: rgba(0, 0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    ul {
      margin: auto;
      a {
        padding: 5px 5px;
        font-size: 18px;
        line-height: 60px;
        color: #fff;
      }
      @include breakpoint (lois) {
        @include row;
        justify-content: flex-end;
          a {
            position: relative;
            margin-left: 20px;
            color: $subtitle-color;
            font-weight: 700;
          }
      }
    }
  }

  .show {
    display: flex;
    transform: translate3d(0, 0, 0);
  }
