.price {
  padding: 20px 0 30px;
  background-color: rgba(41, 10, 89, 0.3);
  &__container {
    @include container;
  }
  &__layout {
    @include row;
    &:nth-child(2) ul {
      padding-bottom: 50px;
      padding-top: 25px;
    }
  }
  h2 {
    &::after {
      @include line;
    }
  }
}
