.services {
  @include container;
  padding-top: 30px;
  background-color: $section-background;
  h2 {
    &::after {
      @include line;
    }
  }
  &__language {
    padding-bottom: 50px;
    height: 100%;
    p {
      @include text(relative, 2em, center, 400);
      max-width: 700px;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
  &__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: auto;
    @include breakpoint(stewie) {
      padding: 35px 0;
    }
  }
  &__icon {
    display: inline-block;
    height: auto;
    max-width: 120px;
    text-align: center;
    &--img {
      display: inline-block;
      margin: 20px 20px 15px 20px;
      border-radius: 50%;
    }
    &--title {
      display: inline-block;
      margin-top: 0;
      padding: 15px;
      text-align: center;
    }
  }
}
