.stats {
    position: relative;
    padding: 30px 0;
    background: url("assets/stats.png") center/cover no-repeat;
    z-index: -12;
    &__container {
      @include container;
      padding-left: 0;
      padding-right: 0;
    }
    &__field {
      @include row;
      padding: 10px;
    }
    &__content {
      width: 150px;
      margin: 0 auto;
      text-align: center;
      color: #fff;
    }
    &__image {
      display: flex;
      justify-content: center;
    }
    &:after {
        content: '';
        @include absolute;
        background: rgba(47,47,69, 0.8);
        z-index: -2;
    }
    @include breakpoint(peter) {
      padding: 30px 0 100px;
    }
}
