.verbal {
  position: relative;
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff;
  @include breakpoint(brian) {
    padding: 0;
  }
  &__container {
    @include container;
    @include breakpoint(brian) {
      padding-left: 0;
    }
  }
  &__image {
    @include image_div;
    @include breakpoint(brian) {
      width: 50%;
      padding-bottom: 39.25%;
    }

    &--position {
      @include image_position;
    }
  }

  &__text {
    &--subtitle {
      font-size: 2.2em;
    }
    @include breakpoint(brian) {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
      min-width: 300px;
      max-width: 600px;
      padding-left: 50px;
      &--title {
        text-align: left;
      }
      &--subtitle {
        padding: 20px 0;
        text-align: left;
      }
    }
  }
}
