.btn {
  border: 5px solid $button-background;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  &--pink {
    @include text(relative, 18px, left, 700);
    padding: 15px 40px;
    background-color: $button-background;
  }
  &--purple {
    @include text(relative, 2.8em, left, 400)
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: $primary-color;
    border-color: $primary-color;
    .modal & {
      max-width: 300px;
    }
  }
  .about__right & {
    align-self: center;
    padding: 15px 20px;
    background-color: $button-background;
    text-align: center;
  }
  @include breakpoint (stewie) {
    margin: 0 auto;
    .about__right & {
      margin: 0;
    }
  }
  @include breakpoint (brian) {
    .modal_2 & {
      margin: 0 auto;
    }
    .about__right & {
      margin: 0;
      align-self: flex-start;
    }
  }
  @include breakpoint(meg) {
    .verbal__text & {
      margin: auto 0;
    }
  }
}
