/* ======= MODAL ====== */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    &__wrap {
      @include image_position;
        max-width: 650px;
        max-height: 90%;
        width: 90%;
        padding: 20px;
        background-color: #fff;
       overflow-x: hidden;
       & > * {
         display: inline-block;
       }
    }
    &__title {
      font-size: 3em;
      text-transform: uppercase;
      width: 100%;
    }
    &__inner {
      @include column;
        max-width: 520px;
        margin: 0 auto;
        padding: 50px 0;
    }
}

.open {
  display: block;
}

input {
    border: 3px solid #d6d6d6;
    border-radius: 5px;
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    font-size: 1.6em;
}

input::placeholder,
textarea::placeholder {
    color: #939191;
    font-size: 16px;
    font-style: italic;
}

input:focus {
    outline: none;
    border-color: #55557d;
    box-shadow: 7px 7px 21px  rgba(85, 85, 125, 0.3);
}

input.btn {
    max-width: 300px;
    border: none;
    margin: 0 auto;
    display: block;
    background-color: #55557d;
}

input.btn:hover {
    border-color: #55557d;
}

 input[type="date"]:before,{
    content: attr(placeholder) !important;
    color: #d6d6d6;
    font-style: italic;
    margin-right: 0.5em;
  }

  /* ===== Modal 2 ==== */

textarea,
pre {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.expandingArea {
    position: relative;
    border: 3px solid #d6d6d6;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    min-height: 100px;
    width: 100%;
}

.expandingArea:focus-within,
.input-file:focus-within {
    border: 3px solid #55557d;
    box-shadow: 7px 7px 21px  rgba(85, 85, 125, 0.3);
}

.expandingArea > textarea,
.expandingArea > pre {
    padding: 5px;
    background: transparent;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.expandingArea > textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.expandingArea.active > textarea {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    resize: none;
}

.expandingArea > pre {
    display: none;
}

.expandingArea.active pre {
    display: block;
    visibility: hidden;
}

/* ==== Modal 3 ===== */
.file-hide {
    position: relative;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
}

.prilozite:after {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
    content: url('./assets/paperclip.jpg');
    font-size: 2.4em;
    color: #4d4d4d;
    z-index: 0;
}

.hide {
  position:relative;
  opacity: 0;
  z-index: 10;
}

.prilozite {
  position: absolute;
  top: 9%;
  left: 0;
  width: 100%;
  height: 70%;
  opacity: 1;
  z-index: -3;
}
