.card {
  margin: 10px;
  padding: 40px 10px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: $shadow-modal;
  &__title {
    @include breakpoint(peter) {
      margin-top: 0;
      padding: 0 20px;
    }
  }
  &__item {
    position: relative;
    margin-bottom: 25px;
    padding: 0 20px;
  }
  &__text {
    @include text(relative, 16px, left, 500);
    display: inline;
    padding-right: 90px;
  }
  &__price {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    font-size: 15px;
  }
  &:nth-child(2) {
    padding: 50px 20px;
    @include breakpoint(brian) {
      align-self: flex-start;
      padding: 40px 20px 135px;
      ul {
        padding-top: 50px; 
      }
    }
  }
  &:hover {
    transition: all .5s ease-in;
    background-color: $primary-color;
    color: #fff;
    & > h3 {color: #fff;}
    & > p{color: #fff;}
  }
}
