.contact h2:after {
    content: '';
    display: block;
    width: 110px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -55px;
}

.verbal-text h3::after {
    content: '';
    display: block;
    width: 190px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -95px;
}

.list-of-services h3::after {
    content: '';
    display: block;
    width: 190px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -95px;
}

.translation-areas h2::after {
    content: '';
    display: block;
    width: 256px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -128px;
}
